// importing my own hover effect library
@import "../node_modules/hfx-css/dist/css/hfx.css";

// bootstrap overrides
$primary: #b6240d;
$secondary: #3a9c19;
$body-color: #111;

.main-page {
  padding: 50px 10px;
}

.active,
.logo {
  font-weight: bold;
}

.loader {
  padding: 50px 0px;
}

.submit {
  color: #f8f1f1 !important;
  &:hover {
    background-color: #24660e !important;
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  .logo {
    padding-bottom: 10px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
  }
}


.error {
  height: 60vh;

  .warning {
    padding-top: 50px;
  }
}

.orders {
  .delete {
    color: #ff0000;
    &:hover {
      color: #8f0000;
      cursor: pointer;
    }
  }
}

// importing bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
